a {
  color: inherit !important;
}

.chosen-font {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

#left {
  height: 100%;
}

#right {
    overflow: scroll;
}
