<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Clara Morgado Admin</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>
  <div align="center">
      <form action="login" method="post">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder=Email required/>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" placeholder="Password" required/>
          <button type="submit" class="btn btn-primary">Login</button>
      </form>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
  </div>
</body>
