<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Clara Morgado - Quadro,
                                      Estilo: {{ painting.style }},
                                      Tamanho: {{ painting.size }},
                                      Data {{ painting.date }},
                                      Autora: Clara Morgado.">
    <meta name="keywords" content="Paintings, Clara, Morgado, Art, Portfolio, Pinturas, Mimi, Pintura, Painting, pinturas, painting, mimi, clara, oliveira, coimbra, Coimbra, arte, artista, portfólio, portfolio, Portfolio, Arte, art, Art, quadros">
    <meta name="author" content="Tomás Carvalho">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clara Morgado - Quadro em Detalhe</title>
    <link rel="stylesheet" href="../static/css/css.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="canonical" href="http://www.claramorgado.com/painting/{{ painting.id }}"/>
  </head>

  <body>
    <h1 style="display: none">Quadro em detalhe</h1>

    <nav class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a href ="/"><p class="chosen-font is-size-2" style="margin-left: 27px">Clara Morgado</p></a>
      </div>
    </nav>

    <div class="tile is-ancestor" style="margin-top: 25px">
        <div class="tile is-parent">
          <article class="tile is-child notification">
            <article class="tile is-child">
              <figure class="image">
                <img src="{{ painting.image }}" alt="{{ painting.style }}"/>
              </figure>
            </article>
          </article>
        </div>
      </div>
      <div>
        <p class="description"><b>Estilo:</b>{{ painting.style }}</p>
        <p class="description"><b>Tamanho:</b>{{ painting.size }}</p>
        <p class="description"><b>Ano:</b>{{ painting.date }}</p>
        {% if painting.observations %}
          <p class="description"><b>Observações:</b>{{ painting.observations }}</p>
        {% endif %}
        <p class="description"><b><a id="show_form">Inquirir</a> | <a href="/">Voltar</a></b></p>
      </div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
          {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="inner contact description">
        <!-- Form Area -->
        <div class="contact-form">
            <!-- Form -->
            <form id="contact-us" method="post" action="inquire">
                <!-- Left Inputs -->
                <input type="hidden" name="painting_id" value="{{ painting.id }}" />
                <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                    <!-- Name -->
                    <input type="text" name="name" id="name" required="required" class="form" placeholder="Nome" />
                    <!-- Email -->
                    <input type="email" name="email" id="mail" required="required" class="form" placeholder="O seu e-mail" />
                    <!-- Subject -->
                    <input type="text" name="subject" id="subject" required="required" class="form" placeholder="Assunto" />
                </div><!-- End Left Inputs -->
                <!-- Right Inputs -->
                <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
                    <!-- Message -->
                    <textarea name="message" id="message" class="form textarea"  placeholder="Mensagem"></textarea>
                </div><!-- End Right Inputs -->
                <!-- Bottom Submit -->
                <div class="relative fullwidth col-xs-12">
                    <!-- Send Button -->
                    <button type="submit" id="submit" name="submit" class="form-btn semibold">Enviar</button>
                </div><!-- End Bottom Submit -->
                <!-- Clear -->
                <div class="clear"></div>
            </form>

        </div><!-- End Contact Form Area -->
    </div><!-- End Inner -->

  </body>
  <script   src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
  <script>
    $("#contact-us").hide();
    $("#show_form").click (function(){
      if ($("#contact-us").is(":visible")) {
        $("#contact-us").hide();
      } else {
        $("#contact-us").show();
        $("#name").attr("autofocus", true)
      }
    });
  </script>
</html>
